{% extends "_layout2.html" %}

{% block content %}
<h1 class="text-center"> Edit User Profile</h1>
{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    <div class="jumbotron">
    {# <h1>Nextagram</h1> #}
    <form class="form-signin" action='{{url_for("profiles.create")}}' method ="POST">
        <label for="inputName" class="sr-only">Username</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Change Your Username" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Change Your Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Change Your Password" required>
       
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" href="profiles/update" value="signup">Save changes</button>
    </form>
    </div>

    <div class="picture-container">
            
            <h6 class="text-center">Choose Picture</h6>

            <div class="center">
                <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no" class="picture-src" id="wizardPicturePreview" title="">
                <input type="file" id="wizard-picture" class="">
            </div>

        </div> 
   
            
</div>

    {% endblock %}